nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #00BCD4 !important;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  #logo-container {
    display: inline !important;
  }
}

@media screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .font-xlg {
    font-size: 4rem !important;
  }
}

/*for footer */
@media (max-width : 535px){
  .bgd-img-sky {
    margin-bottom: -35px !important;
  }
}

@media (max-width : 500px){
  .bgd-img-sky {
    margin-bottom: -50px !important;
  }
}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

/* ----------------- My code ----------------- */

.cyan {
  color: #00BCD4 !important;
}

.red {
  color: #E9266A;
}

#index-banner {
  height: 620px;
}

.margin-top-sm {
  margin-top: 13%;
}

#nav-mobile li a {
  padding-right: 100px;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-border {
  border: 5px solid #00BCD4;
}

.header-border {
  border-width: 4px;
  border-color: white;
  border-style: solid;
  width: 60%;
}

.mgn-top {
  margin-top: 15px;
}

a {
  color: #00BCD4;
}

#links li{
  display: inline;
  list-style-type: none;
  padding: 0 7%;
}

.font-xlg {
  font-size: 6rem;
}

.font-md {
  font-size: 18px;
}

/* to offset the anchor because of fixed navigaiton bar*/
.anchor-offset {
  padding-top: 64px;
  margin-top: -64px;
}

.dim {
  padding: 6%;
}

.card-effect {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-top: 30px;
  margin-bottom: 30px;
}

.bold {
  font-weight: bold;
}

.img-ht {
  height: 80px;
}

.center-align-horz {
    margin-left: auto;
    margin-right: auto;
}

.img-kinect {
    max-height: 250px;
    margin-bottom: 7%;
}

.bgd-img-sky {
  background-image: url(../img/skyline-blue.png);
  width: 100%;
  height: 80px;
  background-repeat: repeat;
  background-size:contain;
  margin-bottom: -21px;
}

#logo-container {
  display: none;
}